Repository ansible/lightbulb, pull requests merged in 2018-02, with the labels that each got.

#239 Apache and nginx basic and role examples should allow for the port to defined.
  examples/apache-basic-playbook/site.yml
  examples/apache-basic-playbook/templates/httpd.conf.j2
  examples/apache-role/roles/apache-simple/defaults/main.yml
  examples/apache-role/roles/apache-simple/templates/httpd.conf.j2
  examples/nginx-basic-playbook/site.yml
  examples/nginx-basic-playbook/templates/nginx.conf.j2
  examples/nginx-role/roles/nginx-simple/defaults/main.yml
  examples/nginx-role/roles/nginx-simple/templates/nginx.conf.j2
  facilitator/solutions/roles.md
  workshops/basic_playbook/README.md
  workshops/basic_playbook/resources/nginx.conf.j2
Labels: documentation, examples, workshops

#273 Fixes handler names in apache and nginx basic and roles examples
  examples/apache-basic-playbook/site.yml
  examples/apache-role/roles/apache-simple/tasks/main.yml
  examples/nginx-basic-playbook/site.yml
  examples/nginx-role/roles/nginx-simple/tasks/main.yml
Labels: bug, examples

#272 Update handler and notification names to be consistent
  tools/aws_lab_setup/roles/common/handlers/main.yml
  tools/aws_lab_setup/roles/common/tasks/main.yml
Labels: bug, provisioner

#276 Updates some community stats including module count
  decks/ansible-essentials.html
Labels: deck

#286 Vagrantfile smoke test in travis PoC
  .travis.yml
  Vagrantfile
Labels: testing, vagrant
